<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/myStyle.css">
<link rel="stylesheet"
	href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<div class="container">
	<h1 align="center" style="color: navy;">New produit</h1>
	<div class="panel panel-success" ng-if="mode==0">
		<div class="panel-heading">Nouveau Produit</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<label class="control-label">Désignation</label> <input
						class="form-control" type="text" ng-model="produit.designation">
				</div>
				<div class="form-group">
					<label class="control-label">Prix</label> <input
						class="form-control" type="text" ng-model="produit.prix">
				</div>
				<div class="form-group">
					<label class="control-label">Quantité</label> <input
						class="form-control" type="text" ng-model="produit.quantite">
				</div>
				<div>
					<button class="btn btn-primary" ng-click="saveProduit()">Save</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default" ng-if="mode==1">
		<div class="panel-heading">Confirmation Produit <a ng-click="modeForm()" href="#">New Produit</a> </div>
		<div class="panel-body">
			<div class="form-group">
				<label>ID produit : </label> <label>{{produit.idProduit}}</label>
			</div>
			<div class="form-group">
				<label>Désignation : </label> <label>{{produit.designation}}</label>
			</div>
			<div class="form-group">
				<label>Prix : </label> <label>{{produit.prix}}</label>
			</div>
			<div class="form-group">
				<label>Quantité : </label> <label>{{produit.quantite}}</label>
			</div>
		</div>
	</div>
</div>
